<div class="jumbotron text-center">
	<h1>Mean Authentication App</h1>
	<p class="lead"> Welcome to Jasser's custom MEAN authentication application from scratch </p>
	
	<div>
		<a *ngIf="!loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a *ngIf="!loggedIn()" class="btn btn-default" [routerLink]="['/login']">Login</a>
		<a *ngIf="loggedIn()" class="btn btn-success" [routerLink]="['/blog']">View blogs</a>
	</div>
	
</div>

<div class="row">
	<div class="col-md-4">
	<h3>Express Backend</h3>
	<p> A Node.js / Express server using Mongoose to organize models and query database. </p>
	</div>
	<div class="col-md-4">
	<h3>Angular-CLI</h3>
	<p> To generate components, services and more. Local dev server and easy compilation. </p>
	</div>
	<div class="col-md-4">
	<h3>JWT Tokens</h3>
	<p> Full featured authentication using JSON Web Tokens. Login and store user data. </p>
	</div>
</div>